.page__container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 880px;
  padding: 45px 0 60px;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .page__container {
    padding: 28px 0 36px;
  }
}