.header__btn {
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  color: #FFFFFF;
  background: transparent;
  border: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  transition: opacity 0.5s ease;
}

.header__btn:hover {
  opacity: 0.6;
}
