.popup__field {
  display: block;
  position: relative;
  margin: 0 0 20px;
  padding: 0;
  border: none;
}

.popup__field:last-of-type {
  margin: 0 0 48px;
}

@media screen and (max-width: 416px) {
  .popup__field:last-of-type {
    margin: 0 0 42px;
  }
}
